<%= form_for(@robot) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :weapon %><br>
    <%= f.text_field :weapon %>
  </div>
  <div class="field">
    <%= f.label :weight_class %><br>
    <%= f.select(:weight_class_id, options_for_select(WeightClass.all.map { |wc| [wc.name, wc.id.to_i] })) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
