<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span id="botname"><%= @robot.name %></span>
</p>

<p>
  <strong>Weapon:</strong>
  <%= @robot.weapon %>
</p>

<p>
  <strong>Weight:</strong>
  <span id="weight_class"><%= @robot.weight_class.name %></span>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
