// Place all the styles related to the Robots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-collapse: collapse;
}

th {
	font-family: Monospace;
	font-size: 20px;
	background-color: lightgray;
}

td {
	border: 1px solid black;
	margin: 0;
	padding: 5px;
}

#newbotform {
	border: 1px solid black;
	padding: 10px;
	width: 200px;
	background: lightblue;
}