<%= form_for(@weight_class) do |f| %>
  <% if @weight_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weight_class.errors.count, "error") %> prohibited this weight_class from being saved:</h2>

      <ul>
      <% @weight_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pounds %><br>
    <%= f.number_field :pounds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
