<p id="notice"><%= notice %></p>

<h1>Listing Weight Classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pounds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weight_classes.each do |weight_class| %>
      <tr>
        <td><%= weight_class.name %></td>
        <td><%= weight_class.pounds %></td>
        <td><%= link_to 'Show', weight_class %></td>
        <td><%= link_to 'Edit', edit_weight_class_path(weight_class) %></td>
        <td><%= link_to 'Destroy', weight_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weight class', new_weight_class_path %>
