<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weight_class.name %>
</p>

<p>
  <strong>Pounds:</strong>
  <%= @weight_class.pounds %>
</p>

<%= link_to 'Edit', edit_weight_class_path(@weight_class) %> |
<%= link_to 'Back', weight_classes_path %>
