<!DOCTYPE html>
<html>
<head>
  <title>Battlebots</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <div id="sitebanner">
	<h1>Mechanical Mayhem</h1>
  </div>
</head>
<body>
<header id="sitebanner">
	<h1>Mechanical Mayhem</h1>
</header>


<%= yield %>

</body>
</html>
